<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- style="position: absolute;top: 14%;left: 38%;" --}}
    {{>links}}
    <title>Document</title>
</head>

<body>
    {{>nav}}
    <div class="container mt-5">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row mb-5">
                    <div class="col-lg-6 col-sm-10">
                        <h1 class="text-center">The Best chef in your town</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quis suscipit consectetur
                            alias eius delectus est. Vitae reprehenderit odit rem facilis enim corrupti.</p>
                    </div>
                    <div class="col-lg-6 col-sm-10">
                        <img src="https://source.unsplash.com/random/1920×1080/?chef" alt="" style="
    height: 300px;
    border: 1px black;
    width: 300px;
    border-radius: 50%;">
                    </div>

                </div>
                <div class="row mb-5">


                    <div class="col-lg-6 col-sm-10">
                        <img src="https://source.unsplash.com/random/1920×1080/?coffee" alt="" style="
    height: 300px;
    border: 1px black;
    width: 300px;
    border-radius: 50%;">

                    </div>

                    <div class="col-lg-6 col-sm-10">
                        <h1 class="text-center">The Best chef in your town</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quis suscipit consectetur
                            alias eius delectus est. Vitae reprehenderit odit rem facilis enim corrupti.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    {{>foot}}
</body>

</html>