
<div class="card" style="width: 18rem;">
    <img class="card-img-top" style="
    max-height: 236px;"src="https://source.unsplash.com/random/1920×1080/?bakery" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the
            bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>

 